# To bia project

# dependencies
/bootCamps/AWS/bia/node_modules

#React node_modules
/bootCamps/AWS/bia/client/node_modules

#React production project
/bootCamps/AWS/bia/client/build
/bootCamps/AWS/bia/.pnp
/bootCamps/AWS/bia/.pnp.js

# testing
/bootCamps/AWS/bia/coverage

# production
/bootCamps/AWS/bia/build

# misc
/bootCamps/AWS/bia/.DS_Store
/bootCamps/AWS/bia/.env.local
/bootCamps/AWS/bia/.env.development.local
/bootCamps/AWS/bia/.env.test.local
/bootCamps/AWS/bia/.env.production.local

/bootCamps/AWS/bia/npm-debug.log*
/bootCamps/AWS/bia/yarn-debug.log*
/bootCamps/AWS/bia/yarn-error.log*
