<div class="estatisticas">
    <h5 class="text-center">
      <a class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Estatísticas
      </a>
    </h5>
    <div class="collapse" id="collapseExample">
      <!-- <div class="card card-body"> -->
        <div class="row d-flex justify-content-center">
          <div class="col mx-2 px-2 my-1 py-3 border rounded-penochao">
            <h1 class="text-center">10</h1>
            <p class="text-center">PARTIDAS</p>
          </div>
          <div class="col mx-2 px-2 my-1 py-3 border rounded-penochao">
            <h1 class="text-center">0</h1>
            <p class="text-center">GOLS</p>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col mx-2 px-2 my-1 py-3 border rounded-penochao">
            <h1 class="text-center">0</h1>
            <p class="text-center">ASSISTÊNCIAS</p>
          </div>
          <div class="col mx-2 px-2 my-1 py-3 border rounded-penochao">
            <h1 class="text-center">8</h1>
            <p class="text-center">VITÓRIAS</p>
          </div>
        </div>
        <div class="row d-flex mb-3 justify-content-center">
          <div class="col mx-2 my-1 py-3 border rounded-penochao">
            <h1 class="text-center">80%</h1>
            <p class="text-center">APROVEITAMENTO</p>
          </div>
        </div>
      <!-- </div> -->
    </div>

  </div>