<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">PéNoChão</h5>
        <p> PéNoChão é uma rede social onde suas conquistas são notadas! <br>
          Divulgue, poste, conecte e comente o jogo do campão! <br>
          Esta plataforma foi criada para unir jogadores com o mesmo objetivo:
           a valorização do futebol de vázea. Venha se juntar à essa comunidade. </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Páginas</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="times">Times</a>
            </p>
          </li>
          <li>
            <p>
              <a href="jogos">Jogos</a>
            </p>
          </li>

          <!-- Ainda não iremos abordar esses pontos -->
          <!-- <li>
            <p>
              <a href="#!">Loja</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Campeonatos</a>
            </p>
          </li> -->

        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Endereço</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i>Av. Dr. Cardoso de Melo, 90<br> Vila Olímpia, São Paulo - SP, 04548-000</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> penochao@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> (11) 3500-9839</p>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow</h5>

        <!-- Facebook -->
        <div class="fb-share-button" 
        data-href="https://github.com/koroberto/projetoIntegrador" 
        data-layout="button_count">
        </div>
        
        

      </div>
    </div>
  </div>
    <div class="footer-copyright text-center py-3">
      <p>© 2020 PéNoChão - O seu Portal dos jogos de várzea. Todos os direitos reservados.</p>

    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/validadorCep.js"></script>

<script src="js/post.js"></script>

<script src="js/validadorCep.js"></script>
<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>