<header>
  
    <nav class="navbar navbar-dark nav-desktop-penochao">

      <div class="container px-0">

        <div class="col-sm-3 px-0 logo-mobile">
          <a class="navbar-brand mx-0 py-0" href="/atleta">
            <img src="/images/logofinal.png" alt="Pé no Chão, a rede social da várzea!" id="imgLogo">
          </a>
        </div>
        <div class="col-sm-6 px-0">
          <form action="/pesquisa" method="GET" class="form-inline justify-content-center">
            <input class="form-control border-info rounded-pill col-sm-12" type="search" placeholder="Pesquisar"
              aria-label="Search" id="buscaHeader" name="pesquisa">
            <button type="submit" class="d-none" ><img src="/images/lupaPesquisa.png" alt="" width="10vw"></button>
          </form>
        </div> 
          <div class="col d-flex justify-content-center icon-penochao-mobile-fixed" >
            <div class="col px-0 d-flex justify-content-center">
              <a title="Listar Times" class="navbar-brand mx-0 py-0" href="/times">
                <img src="/images/escudo.png" alt="Notificações" id="imgNotificacoes">
              </a>
            </div>
            <!--
              <div class="col px-0 d-flex justify-content-center">
              <a class="navbar-brand mx-0 py-0" href="#">
                <img src="/images/Notificacoes2.png" alt="" id="imgNotificacoes">
              </a>
            </div>
            -->
            
            <div class="col px-0 d-flex justify-content-center">
              <a title="Sair" class="navbar-brand mx-0 py-0   " href="/sair"  >
                <img src="/images/sair.png"  alt="SAIR" id="imgNotificacoes">
              </a>
            </div>
          </div>
      </div>
    </nav>
  </header>