<header>
  <nav class="navbar navbar-dark nav-desktop-penochao">
    <div class="container px-0">
      <div class="col-1 px-0 voltar">
        <a class="navbar-brand mx-0 py-0" href="/atleta">
          <img src="/images/voltar.png" alt="voltar" id="voltar">
        </a>
      </div>
      <div class="col-10 logo-cadastro">
        <a class="navbar-brand mx-0 py-0" href="/atleta">
          <img src="/images/logofinal.png" alt="Pé no Chão, a rede social da várzea!" id="imgLogo">
        </a>
      </div>
      <div class="col-1"></div>
    </div>
  </nav>
</header>