<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <title>Pagina não encontrada</title>
</head>
<body>
    <!--Cabeçalho-->
    <%- include('partials/headerLogada') %> 

    <main class="container">
        <div class="row mt-3 mb-3 justify-content-center">
            <img src="/images/bolaFora.jpg" alt="">
        </div>
    </main>
</body>
</html>