<!DOCTYPE html>
<html lang="pt-br">
<head>
    
  <!-- Configurações da Head Padrões -->
    <%- include('partials/head') %> 

    <title>Cadastro - Pé no Chão</title>

</head>

<body>
  <video id="video" autoplay muted loop>
    <source src="/videos/estadio2.m4v" type="video/mp4">
  </video>

  <!-- Header com logo Centralizado-->
  <%- include('partials/headerCadastro') %>

      <main>
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-9  p-0 mt-3 form-cadastro text-light text-center">
              <h1>OLÁ CAPITÃO!</h1>
              <!-- <h4 class="p-0">Seja muito bem vindo ao PéNoChão, a rede social dos jogadores de várzea!</h4> -->
              <h4 class="m-3">Informe os seguintes dados para montarmos o perfil do seu time:</h4>

              <div class="mt-3 mx-5 px-5 alinhamento">
                <form action="/time/cadastro" method="POST" enctype="multipart/form-data">

                  <input type="text" id="idCapitao" name="idCapitao" value="<%= idCapitao %>" readonly class="d-none">

                  <label for="nome">  Nome do time: </label>
                  <input type="text" id="nome" name="nome" >

                  <!-- <label for="cep"> CEP da Sede do Time: </label>
                  <input type="text"  id="nome"  name="cep"> -->

                  <label for="cep">CEP (Clique na lupa para buscar e confirmar o seu CEP)</label>
                  <div class="d-flex justify-content-center">
                    <input type="text" id="cep" name="cep" value="" required>
                    <button type="submit" id="btnPesquisar" class="btn btn-primary "><img src="/images/lupa.png" class="pesquisarCep" alt=""></button>
                  </div>
                  <!-- <label for="estado"> Estado </label> -->
                  <input type="hidden" id="estado" name="estado" value="" required readonly>
                  
                  <!-- <label for="cidade">Cidade</label> -->
                  <input type="hidden" id="cidade" name="cidade" value="" required readonly>
    
                  <label for="bairro">Bairro</label>
                  <input type="text" id="bairro" name="bairro" value="" required readonly>
    

                  <label for="logo"> Brasão do time: </label>
                  <input type="file" name="logo" id="file">
                 
                  <input class="mb-4" type="submit" id="btn-form"value="Salvar">
                </form>
              </div>
              



            </div>
              
              
            </div>
          </div>  
        </div>
      </main>
</body>

<!-- Footer -->
<%- include('partials/footerLp') %> 

</html>