<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!--head-->
    <%- include('partials/head') %> 

  <title>Jogador</title>
</head>

<body>
  <!--Cabeçalho-->
  <%- include('partials/headerLogada') %> 
  
  <main class="container">
    <div class="row mt-3">

    </div>
  </main>

</body>

<!-- Footer-->
<%- include('partials/footer') %> 
</html>