/* div {
    border: 1px solid red;
} */

body {
    font-family: 'Roboto', sans-serif;
}

.foto-perfil {
    border: 2px solid lightgrey;
    border-radius: 50%;
    margin-top: -90px;
    background-color: white;
    background-size: 200px;
    width: 150px;
    height: 150px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: bottom;
} 

.nav-desktop-penochao {
    background-color: #237FCF;
}

.rounded-penochao {
    border-radius: 20px;
}

.rounded-top-penochao {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rounded-bottom-penochao {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rounded-left-penochao {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded-right-penochao {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.bg-btn-camera {
    background-color:rgb(26,28,219);
}

.bg-feed {
    background-color: rgb(219,228,255);
}

.bg-profile {
    margin:0;
    padding:0;
    width:285px;
}

.border-penochao {
    border: 1px solid #dee2e6;
}

.input-penochao-border {
    border: none!important;
}


.resultado-mantente{
    height: 50;
    font-size: 50px;
}
.resultado-visitante{
    height: 50px;
    font-size: 50px;
    
}

.logo-cadastro{
    text-align: center;
}

.area-cadastro{
    display: flex;
}
.form-cadastro{
    border: solid 3px #A4A4A4;
    border-radius: 30px;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.35);
    margin: 60px 0px 45px 0px;
    font-family: Roboto, sans-serif;
}

.form-cadastro h1{
    margin: 50px 0px 45px 0px;
    color: #707070;
    text-align: center;
    font-weight: 700;
}

.alinhamento{
    text-align: center;
    padding: 0px 30px 0px 30px;
}

.form-cadastro > .alinhamento > form > label{
    width: 100%;
    color: #707070;
    text-align: start;
    font-size: 100%;
}

.form-cadastro > .alinhamento > form > input{
    width: 100%;
    color: #707070;
    text-align: start;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border: solid 1px #707070;
    margin-bottom: 20px;
    padding:5px;
}

.form-cadastro > .alinhamento > form > select{
    width: 100%;
    color: #707070;
    text-align: start;
    border-radius: 15px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border: solid 1px #707070;
    margin-bottom: 20px;
    padding:5px;
}

#btn-form{
    margin: 5px 0px 45px 0px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    background-color: #1A1CDB;
    font-size: 150%;
    border: none;
    text-transform: uppercase;
}
@media (max-width: 575.98px) {
    .bg-profile {
        width:375px;
    }
    .col-feed {
        padding:0!important;
    }
    .border-penochao-mobile {
        border: none!important;
    }
    .rounded-top-penochao {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    
    .rounded-bottom-penochao {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .logo-mobile {
        display: flex;
        justify-content: center;
        
    }

    .icon-penochao-mobile-fixed{
        position: fixed!important;
        right:0;
        bottom:0;
        z-index: 1030;
        background-color: #237FCF;
    }
    
#cabeca{
    background-color:transparent;
    border: 0;

}

.textTabela{
    font-size: 15px;
}
#tabela{
    padding: 0;
    margin: 0;
}

 }